.user-info {
    padding: 10px;
    font-size: 14px;
    margin-bottom: -40px;
    margin-top: -15px;
    margin-left: 10px;
    color: #333;
    background-color: #f0f0f0;
    text-align: left;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 95%;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 40px;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin-left: 20px;
    gap: 30px;
}

.navbar-links li {
    position: relative;
}

.navbar-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.navbar-links .has-dropdown::after {
    content: '';
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: -13px;
    transform: translateY(-50%) rotate(45deg);
}

.navbar-user .logout-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #000;
    margin-left: auto;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    z-index: 1000;
    opacity: 0;
    transform: translateY(-10px);
    animation: dropdownFadeIn 0.3s forwards;
}

.dropdown-menu li {
    padding: 10px 20px;
}

.dropdown-menu a {
    text-decoration: none;
    color: #000;
    font-weight: normal;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

.dropdown-visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes dropdownFadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
